@import url(https://fonts.bunny.net/css?family=montserrat:400,600,700|roboto:300,400,500);

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
   /* General styles */
   body {
      @apply font-sans text-gray-600 bg-weiss;
   }

   /* Heading styles */
   h1 {
      @apply font-title text-4xl font-medium text-schwarz leading-normal md:leading-snug;
      @apply md:text-3xl sm:text-2xl;
      /* smaller font size for md and sm screens */
   }

   h2 {
      @apply font-title text-3xl leading-snug font-medium text-gray-900 mt-8 mb-4;
      @apply md:text-2xl sm:text-xl;
      /* smaller font size for md and sm screens */
   }

   h3 {
      @apply font-title text-2xl leading-normal font-medium text-gray-900 mt-6 mb-4;
      @apply md:text-xl sm:text-lg;
      /* smaller font size for md and sm screens */
   }

   h4 {
      @apply font-title text-xl leading-normal font-medium text-gray-900 mt-6 mb-3;
      @apply md:text-lg sm:text-base;
      /* smaller font size for md and sm screens */
   }

   /* Paragraph and list styles */
   p {
      @apply font-sans mt-5 mb-5 text-base leading-relaxed;
      @apply md:mt-3 md:mb-3 sm:mt-2 sm:mb-2 sm:text-sm;
      /* adjust margin and font size */
   }

   ul {
      @apply font-sans list-disc pl-5 my-4;
      @apply md:pl-4 sm:pl-3 sm:my-2;
      /* adjust padding and margin */
   }

   li {
      @apply mb-2 text-base;
      @apply sm:mb-1 sm:text-sm;
      /* adjust margin and font size */
   }

   /* Link styles */
   a {
      @apply underline text-mittelgruen hover:text-gruen;
      @apply sm:text-sm;
      /* smaller font size for links on sm screens */
   }

   /* Navigation and header styles */
   .landing-header, .menu {
      @apply bg-mittelgruen text-weiss;
   }

}


/* Default */
.bg-robot-yellow-1 {
    background-image: url('https://www.martin-schenk.es/img/robot-yellow-2-640w.jpg');
    /* other properties */
}

/* Medium screens */
@media (min-width: 768px) {
    .bg-robot-yellow-1 {
        background-image: url('https://www.martin-schenk.es/img/robot-yellow-2-768w.jpg');
    }
}

/* Large screens */
@media (min-width: 1024px) {
    .bg-robot-yellow-1 {
        background-image: url('https://www.martin-schenk.es/img/robot-yellow-2-1024w.jpg');
    }
}

/* Extra Large screens */
@media (min-width: 1280px) {
    .bg-robot-yellow-1 {
        background-image: url('https://www.martin-schenk.es/img/robot-yellow-2-1280w.jpg');
    }
}

/* 2XL screens */
@media (min-width: 1536px) {
    .bg-robot-yellow-1 {
        background-image: url('https://www.martin-schenk.es/img/robot-yellow-2-1536w.jpg');
    }
}

